# Arquivos e pastas do sistema
.DS_Store
Thumbs.db
desktop.ini

# Arquivos e pastas de IDE/Editores
/.cursor
/.vscode
/.idea
/.vs
*.swp
*.swo

# Pasta node_modules se for necessária
node_modules/

# Arquivos de log e temporários
*.log
*.tmp 